body {
    font-family: 'Open Sans', serif;
    color: #868e96;
    background-color: #f8f8f8;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Saira Extra Condensed', serif;
    color: #343a40;
}

.header-footer-color {
    background-color: #BD5D38; /* Primary color from your main page */
}

/* Footer styling */
footer {
    color: white;
    text-align: center;
    padding: 1em 0;
}

/* Project Card Styling */
.project-card {
    border: 1px solid #dee2e6;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.project-card img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.project-card h3 {
    color: #343a40; /* Text color for titles */
}

.project-card a {
    color: #824027; /* Link color from your main page */
}

/* Responsive container */
@media (min-width: 992px) {
    .container {
        width: 85%;
        max-width: 1150px;
        margin: auto;
    }
}
